body {
  padding: 0 0.5rem 15vh 0.5rem;
  font-size: 14pt;
}

body h1 {
  line-height: 1.2em;
}

/* TODO: Support other directions (arabic, for instance) */
#article-authors {
  text-align: right;
  font-style: italic;
}

#main-content, #main-content * {
  max-width: 100%;
  line-height: 1.4em;
  overflow-x: auto;
}

#main-content img {
  height: auto;
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

#main-content img ~ .link-to-original-image {
    display: block;
    font-size: 0.8rem;
    margin: 0.5rem 0 0 0;
    text-align: center;
}

#main-content pre {
  font-size: 12pt;
  line-height: 1.2em;
}

#main-content ol, #main-content ul {
  padding: 0 0 0 1.2em;
  list-style-position: inside;
}

#main-content li:not(:first-child) {
  padding-top: 0.5em;
}

#main-content > p:first-child {
  margin-top: 0;
}
